{% extends 'base2.html' %}

{% load static %}

{% block 'head' %}
<title>Notificações</title>
<link rel="stylesheet" href="{% static 'css/notificacoes.css' %}">
{% endblock %}

{% block 'conteudo' %}
<h1>Notificações</h1>
<div class="notificacoes">

    <div class="container">
        <!-- <h2>{{notifications}} Notificações Não Lidas</h2> -->
        <ul>
            {% for notification in notifications %}
            <li>
                {% if notification.verb == 'postagem' %}
                <img width="100" height="100" src="https://img.icons8.com/ios-filled/100/new.png" alt="new" />
                <h3>Nova postagem</h3>
                <p>{{ notification.message }}</p>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>


</div>
{% endblock %}